@import '../../variables.scss';

button {
	position: relative;
	border: none;
	padding: 10px 20px;
	transition: all 0.44s;
	cursor: pointer;
	display: flex;
	align-items: center;
	transform: translateZ(0);
	border-radius: 2px;
	text-align: center;
	background-color: transparent;
	font-weight: 500;
	font-size: 1.4rem;

	&:hover {
		transform: scale(1.02);
	}
}

a.button.big {
	padding: 12px 30px;
}

button [class^='icon-'] {
	width: 20px;
	height: 20px;
	transition: all 0.44s;
}

button.loading {
	color: transparent !important;
}

button.loading:after {
	content: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:url(%23XMLID_3_);stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}</style><linearGradient id="XMLID_3_" gradientUnits="userSpaceOnUse" x1="3.9823" y1="13.5647" x2="26.0177" y2="13.5647"><stop  offset="0" style="stop-color:%23d1af66"/><stop  offset="1" style="stop-color:%23d1af66"/></linearGradient><path id="XMLID_2_" class="st0" d="M22.5,21.7c1.6-1.8,2.5-4.1,2.5-6.7c0-5.5-4.5-10-10-10S5,9.5,5,15c0,2.8,1.1,5.3,3,7.1"/></svg>');
	position: absolute;
	opacity: 1;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	animation: ScaleIn1 2s infinite linear;
}

@keyframes ScaleIn1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// CUSTOM BUTTON BY CLASSES
button {
	&:disabled:not(.loading) {
		opacity: 0.6;
		background-color: grey !important;
	}

	&.default {
		color: var(--black);
		background-color: transparent;
		height: auto;
		padding: 10px 20px;
		transition: all 0.6s;
		font-weight: bold;
		font-size: 18px;

		svg {
			margin: auto;
			height: 20px;
			stroke: var(--white);
		}
	}

	&.submit {
		color: var(--white);
		background-color: var(--primary-color);
		transition: all 0.6s;
		font-size: 18px;
		font-weight: 600;
		border: 1px solid var(--primary-color);

		&:hover {
			color: var(--primary-color);
			background-color: var(--white);
		}
	}

	&.primary {
		color: var(--primary-color);
		background-color: transparent;
		transition: all 0.6s;
		font-weight: 600;
		font-size: 1.6rem;
		border: 1px solid var(--primary-color);

		&:hover {
			opacity: 0.9;
		}

		svg {
			margin: 0 0 0 15px;
			transition: all 0.6s;

			height: 20px;
			stroke: var(--primary-color);
		}
	}

	&.primaryBlue {
		transition: all 0.6s;
		font-weight: 600;
		font-size: 1.6rem;
		color: var(--white);
		background-color: var(--primary-color);

		&:hover {
			opacity: 0.9;
		}

		svg {
			margin: 0 0 0 15px;
			stroke: var(--white);
			height: 20px;
		}
	}

	&.accept {
		color: var(--white);
		background-color: #6bbe47;
		padding: 15px 23px;
		font-weight: 600;
		font-size: 1.6rem;
		border-radius: 8px;

		&:hover {
			opacity: 0.9;
		}
	}

	&.decline {
		color: var(--white);
		background-color: #be4747;
		padding: 15px 23px;
		font-weight: 600;
		font-size: 1.6rem;
		border-radius: 8px;

		&:hover {
			opacity: 0.9;
		}
	}

	&.remove {
		color: var(--black);
		padding: 10px 28px;
		transition: all 0.6s;
		font-weight: 600;
		font-size: 1.6rem;
		border-radius: 8px;
		border: 1px solid var(--black);

		&:hover {
			opacity: 0.9;
		}
	}

	&.small {
		padding: 10px 15px;
		border-radius: 6px;
	}
}
