@import '../../../variables.scss';

.formInput {
	display: flex;
	flex-direction: column;
	position: relative;

	input {
		flex: 1;
	}

	.input-wrapper {
		display: flex;

		flex: 1;
		position: relative;
	}

	.password-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 10px;
		top: 50%;
		height: 100%;
		transform: translateY(-50%);
		font-size: 1.2rem;
		transition: all 0.44s;
		cursor: pointer;
		svg {
			width: 16px;
			height: 16px;
			fill: var(--primary-color);
		}
	}

	.help-text {
		position: absolute;
		right: 5px;
		bottom: -20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.2rem;

		svg {
			fill: #0a295b;
			width: 15px;
			height: 15px;
			margin-right: 4px;
		}
	}

	.clearButton {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: absolute;
		right: 60px;
		top: calc(50% - 10px);
		width: 20px;
		height: 20px;
		background-color: var(--primary-color);
		border-radius: 10px;

		.icon {
			width: 20px;
			height: 20px;
			stroke: #fff;
			fill: #fff;
		}
	}
}
